{% extends 'base.html.twig' %}

{% block title %}Guestlist | Select Event{% endblock %}

{% block body %}

    <h1>Guestlist</h1>
    <table class="table">
        <tr class="text-white text-uppercase bg-secondary">
            <th>Event</th>
            <th>Total Guests</th>
            <th></th>
        </tr>
    {% for event in events %}
        <tr class="text-white">
            <td>{{ event.name }}</td>
            <td>{{ event.totalGuests }}</td>
            <td><a href="{{ path('app_guest_list_event', { event:event.id }) }}" class="btn btn-success">SELECT</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
