{% extends 'base.html.twig' %}

{% block title %}Guestlist | Select Event{% endblock %}

{% block body %}

    <h1>Guestlist</h1>
    <table class="table">
        <tr>
            <th>Event</th>
            <th>Total Guests</th>
            <th></th>
        </tr>
    {% for event in events %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.guests|length }}</td>
            <td><a href="{{ path('app_guest_list_event', { event:event.id }) }}" class="btn btn-success">SELECT</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
