@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

$body-bg: #000;
$body-color: #ccc;
$font-family-base: 'Montserrat', sans-serif;
$headings-font-family: 'Teko', sans-serif;
$modal-content-bg: #333;
$progress-height: 1.5rem;
$progress-font-size: $font-size-base;
$progress-bar-bg: $gray-900; // todo: Y U NO WORK?
$input-bg: $gray-800;
$input-color: $white;
$input-disabled-bg: $gray-900;
$input-border-color: $gray-900;
$input-focus-bg: $gray-700;
$input-focus-color: $input-color;
$input-focus-border-color: $gray-900;

$input-group-addon-bg: $gray-800;
$input-group-addon-color: $white;
$input-group-addon-border-color: $gray-900;

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/grid";