{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Guestlist Admin Dashboard{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Event</td>
            <td>Guests</td>
            <td>Used Slots</td>
        </tr>
        </thead>
        <tbody>
        {% for data in events %}
            <tr>
                <td>{{ data.name }}</td>
                <td>{{ data.numberOfGuests }}</td>
                <td>@todo implement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}